.baoloicss{
	border: 1px solid #b92c28;

}
.thanhcongcss{
	border: 1px solid #00a157;
}
body{
	margin:auto 0;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	color:#58564D;
	font-size:14px;
	
	background-image:url(../images/bg.png);
}
ul, li{
	
}
select,
textarea,
input{
	outline:none;
}
a{
	color: #296FB4;
	text-decoration:none;
	/*
	transition: color 300ms, background-color 300ms, border-color 300ms;
	-moz-transition: color 300ms, background-color 300ms, border-color 300ms;  
	-o-transition: color 300ms, background-color 300ms, border-color 300ms;    
	-webkit-transition: color 300ms, background-color 300ms, border-color 300ms;*/
}
.iconview,
.name_title i,
.list_price a,
.wrapper_menu > li:hover .wrapper_submenu,
.header_container .wrapper_submenu,
.wrapper_menu_footer a,
.header_container ul.wrapper_sub_chiren li a,
.wrapper_sub>li>a,
.wrapper_sub>li>a>i.fa-ellipsis-h,
.menu_item>a,
.wrapper_menu > li >a i{
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	   -o-transition: all 0.5s;
	  -ms-transition: all 0.5s;
		  transition: all 0.5s;
}
.menu_destop{
	transition: color 500ms, background-color 500ms, border-color 500ms;
	-moz-transition: color 500ms, background-color 500ms, border-color 500ms;
	-o-transition: color 500ms, background-color 500ms, border-color 500ms;  
	-webkit-transition: color 500ms, background-color 500ms, border-color 500ms;
}
a:hover {
    color: #E07800;
}
a,
button{
	cursor:pointer;
}
*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box;   
}

.image_new img{
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

img{
	max-width:100%;
}
.clear_row{
	display:inline-block;
	width:100%;
	height:1px;
	margin-top:-1px;
}
.item_video:hover .hover,
.list_footer .highslide-gallery a.highslide:hover .hover,
.item_new:hover .hover,
.image_new:hover .hover{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 1.3s;
    -moz-transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
}
.hover{
	position: absolute;
    display: block;
    width: 0%;
    text-indent: -9999px;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.35);
    opacity: 1;
    transition-duration: 1.3s;
    -moz-transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
}
.hover1{
	    left: 0;
    top: 0;
    transition-delay: 0;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
}
.hover2{
	right: 0;
    top: 0;
    transition-delay: 0;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
}

.hover3{
	left: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
}

.hover4{
	    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
}
/*------------------------------------
------------------Header--------------
------------------------------------*/
.wrapper_header{
	
	background-size:auto 100% ;
}
.tentrungtam  span{
	display:inline-block;
}
.header_top{
	position:relative;
	z-index:999;
	background:#FFF;
}
.header_top a{
	
}
.tentrungtam{
	display:inline-block;
	padding-left:20px;
	 vertical-align: middle;
	 text-align:center;
	 font-family:Open Sans Condensed;
}
.logo{
	display:inline-block;
	    vertical-align: middle;
}
.tonghopGia_tuan,
.tonghopGia,
.price_ag_top{
	width:25%;
	float:left;
	padding-left:10px;
	position:relative;
	overflow:hidden;
}
.fix_one_row{
	display:block;
}
.post_new_top{
	width:25%;
	float:left;
	
}
.post_new_top .tieude{
	background: #296FB4;
}
.price_ag_top .tieude{
	background: #C51295;
}
.tonghopGia .tieude{
	background: #11C34D;
}
.tonghopGia_tuan .tieude{
	background: #E07800;
}
.logo h1{
	margin:0;
}
.title_list_top{
	/*background:-webkit-linear-gradient(top,#fafafa,#ececec);
	border:1px solid #cdcdcd;*/
	font-size:115%;
}
.title_list_top i{
	margin-right:5px;
}
.title_list_top .tieude{
	line-height:30px;
	height:30px;
	color:#FFF;
}
.title_header{	
	font-size:98%;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	
	line-height:30px;
	font-weight:normal;
}
.title_list_top .thoigian i{
	line-height:30px;
}
.list_new>div{
	display:inline-block;
	width:100%;
	border-top: 1px solid #eaebef;
	background: #ECF6F9;
}
.list_new>div:hover{
	 background: #B6DBE7;
}
.thoigian{
	float:left;
	color:#036;
	width:80px;
	text-align:center;
	line-height:30px;
}
.tieude{
	line-height: 30px;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
}
.title_header i{
	padding-right:5px;
}
.left_header_top{
	display:inline-block;
	float:left;
	padding:5px 0;
	    vertical-align: middle;
}
.left_header_top span.fa{
	font-size: 96%;
}
.left_header_top a{
	text-transform:uppercase;
	font-weight:600;
	font-size:150%;
	
}
.right_header_top{
	text-align:right;
	padding:5px 0;
	padding-top:20px;
	
}
.user_infore{
	padding-right:10px;
	margin-top:7px;
}
.top_link{
	padding:10px 0;
}
.top_link> a{
	border-left: 1px dotted #296FB4;
	padding:0 10px;
	display:inline-block;
}
.right_header_top a i{
	margin-right:5px;
}
.right_header_top a:hover{
}
.right_header_top a:first-child{
	border-left: none;
	color: white;
    background: rgba(0,0,0);
    padding: 5px 20px;
}
.wrapper{
	max-width:1200px;
	margin:auto;
	width:100%;
}
.menu_destop{
	position:relative;
	width:100%;
	max-width: 1200px;
    margin: auto;
}
.header_footer{
	margin-top:40px;
	/*background:#FFF;*/
}
.header_footer .wrapper{
	padding:20px 0;
	  
}
.fix_nav_scroll,
.fix_position{
	width:100%;
	display:inline-block;
	height:1px;
	margin-top:-1px;
}
div.show_fix_e{
	position:fixed;
	top:0;
	width:100%;
	max-width:100%;
	z-index:9999999;
	height:47px;
	border-bottom: 3px solid #FFFFFF;
}
.fix_mobile div.show_fix_e {
	position:absolute;
	    top: inherit;
}
.show_fix_e .menu_destop{
	/*position:fixed;
	top:0;
	width:100%;
	max-width:100%;
	z-index:9999999;*/
}
.open_hoithi{
	font-size:110%;
	padding-right:10px;
	font-weight:bold;
	float: right;
    color: #FFF;
    text-transform: uppercase;
    line-height: 33px;
	cursor:pointer;
	padding:5px;
}
.mobile_hoithi_icon{
	display:none;
}
.wrapper_open_hoithi{
	padding:0 10px;
}
.open_hoithi:hover{
	
}
.open_hoithi i{
	    line-height: 34px;
	float:left;
	font-size:115%;
	margin-right:7px;
}
.show_fix_e .menu_footer{
	
}
.menu_destop{
}
.menu_item{

}
.menu_item:first-child{

	border-left:none;
}
.menu_item:first-child> a{
	/*font-size:200%;
	font-weight:normal;*/
}
.menu_item:last-child >a{
}

.menu_item>a{
	display:inline-block;
	color:#FFFFFF;
	padding:0 7px;
	border-left: 1px solid rgba(222, 222, 222, 0.46);
	line-height:44px;
	font-weight:bold;
	font-family: Open Sans Condensed;
    font-size: 115%;

}

.homemenu_item img{
	display:none;
}
.wrapper_menu > li.sub_item.homemenu_item > a> i{    
    color: #296FB4;
 	transform: rotate(0deg) !important;
	font-size:200% !important;
	line-height:44px;
	margin-right:5px;
	
}
.sub_item span.icon_open_mb {
	background:#FFF;
}

span.icon_open_mb {
    width: 43px;
    height: 43px;
    position: absolute;
    right: 0;
	top:0;
    background: #F5F5F5;
	z-index:99;
    display: inline-block;
	text-align:center;
	cursor:pointer;
}
span.icon_open_mb i{
    width: 43px;
    height: 43px;
    right: 0;
	color:#296FBD;
    line-height: 43px;
    display: inline-block;
}
span.icon_open_mb i.fa.fa-minus{
	display:none;
}
.wrapper_menu > li.sub_item.homemenu_item > a{
	background:none !important;
	height:100%;
	display:inline-block;
}
.menu_item>a>i{
	float:right;
	line-height:43px;
	color:#FFF;
	font-size:120%;
	margin-left:5px;
	transform: rotate(0deg);
}
.wrapper_menu > li:hover>a i{
	font-size:120%;
	color:#296FB4;
	
	transform: rotate(-90deg);
}
.header_container ul, .header_container ul li{
	list-style:none;
	padding:0;
	float:left;
}

.container .wrapper{
	
	
}
.menu_footer{
	float:right;
	position:relative;
	
}

.header_container{
	position:absolute;
	width:100%;
	text-align:center;
	background: #11C34D;
	background: #296FB4;
	height:45px;
	border-bottom:2px solid #FFF;
	
}

.header_container:hover{

}
.open_menu{
	padding:2px 2px 2px 5px;
	float:left;
	text-transform:uppercase;
	color:#FFF;
	cursor:pointer;
}
.wrapper_open{
	padding-left:10px;
	line-height:40px;
	font-weight:bold;
	    border-left: 1px solid rgba(255, 255, 255, 0.46);
}
.show_menu{
	color:#FF0;
}
.open_menu i{
	margin-right:10px;
	line-height:40px;
    float: left;
}
.home_menu{
	padding:3px;
	float:left;
	height:40px;
}
.home_menu, .open_menu{
	display:none;
}
.home_menu img{
	height:100%;
}
.header_container.show_fix_e .menu_destop{
	background:#11C34D;
}
.header_container ul.wrapper_menu{
	text-align:left;
	border-bottom:none;
	border-top: none;
	margin:0;
	padding-top:1px;
}
.br_wrapper{
	 position: fixed;
     display: none; 
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33);
    width: 100%;
    height: 100%;
    z-index: 98;
}
.befor_tamgiac{
	position:relative;
	
}
.befor_tamgiac:before{
	/*top: -45px;
    content: "";
    width: 0;
    height: 0;
    left: 0;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 223px solid transparent;
    border-bottom: 45px solid rgba(255, 255, 255, 0);*/

	
}
.wrapper_menu_footer img{
	float:left;
	margin-top:3px;
	margin-right:4px;
}
.wrapper_menu_footer{
	
	position:absolute;
	left:0;
	background:#FFF;
	top:43px;
    line-height: 45px;
    float: right;
    width: 275px;
    border: 1px solid #CECECE;
	border-bottom:none;
	border-top:none;
	z-index:99;
	display:none;
}
.wrapper_menu_footer a{
	width:100%;
	float: left;
	color:#333;
	height:35px;
	line-height:35px;
	display:inline-block;
	padding:0 10px;
	border-bottom:1px solid #F0F0F0;
	text-align:left;
}
.wrapper_menu_footer a:hover{
	color:#044C93;
	padding-left:30px;
	font-weight:bold;
}
.wrapper_menu_footer a:first-child{
	
}
.wrapper_menu_footer a i{
	font-size:85%;
	    color: #FFFF00;
	padding-right:5px;
}
.wrapper_menu > li:hover .wrapper_submenu{
   
   background:#FFF;
}

.wrapper_submenu{
	display:none;
	box-shadow: 1px 1px 1px #666666;
	width:100%;
	height:40px;
	position:absolute;
	display:none;
	margin-top: -1px;
	background:#11C34D;
	left:0;
}
.focus_menu{
	background:#FFF;
}
.sub_item.homemenu_item{
	height:44px;
}
.sub_item.homemenu_item a{
	padding:0 10px;
}

.sub_item.homemenu_item a i{
	margin-right:0 !important;
}

.focus_menu,
.des_menu > li:hover>a{
	color:#296FB4;
	background:#FFFFFF;
	    /*box-shadow: inset 1px 1px 24px rgba(108, 108, 108, 0.24);*/
}
.des_menu > li:hover> .wrapper_sub{
    display:block;
}

.header_container .wrapper_sub{
	    margin-top: -2px;
    border-top: none;
    padding: 0;
    position: absolute;
    z-index: 99;
    display: none;
    background: #FFF;
    border: 1px solid #11C34D;
    border-top: none;/*
    margin-left: -1px;*/
	
}
.header_container .wrapper_sub.lienhe_menu{
	width:250%;
	padding:10px;
	display:none !important;
}
.header_container .wrapper_sub.lienhe_menu .infor_city{
	color:#333;
}
.header_container .wrapper_sub.lienhe_menu .infor_city i{
	color:#11C34D;
}
.header_container .wrapper_sub.lienhe_menu .name_cty{
	color:#11C34D;
}
.tile_menu{
	display:none;
	margin:0;
	padding:5px;
	text-align:center;
	color: #044C93;
	border-bottom:1px solid #CCC;
	text-transform:uppercase;
}
.header_container .wrapper_sub>li{
	padding-top:1px;
	border-bottom: 1px solid #E0E0E0;
	float:none;
	width:245px;
	
}
.header_container .wrapper_sub>li:last-child{
	border-bottom:none;
}
.header_container .wrapper_sub>li i.fa-angle-down{
	float:right;
	    line-height: 23px;
		    transform: rotate(-90deg);
}
.des_menu .sub_item:hover > .wrapper_sub_chiren{
	display:block;
	
}
.header_container ul.wrapper_sub_chiren{
   z-index: 999;
    display: none;
	width:280px;
	margin-left:245px;
	margin-top:-45px;
    position: absolute;
    background: #FFFFFF;
	border:1px solid #11C34D;
}
.header_container ul.wrapper_sub_chiren li:hover{
}
.header_container ul.wrapper_sub_chiren li{
	width:100%;
	line-height:35px;
}
.header_container ul.wrapper_sub_chiren li a{
	display:inline-block;
	width:100%;
	color:#333;
	padding:0 10px;
}
.header_container ul.wrapper_sub_chiren li a:hover{
	color:#009;
	background:#F2F2F2;
	padding-left:20px;
}
.header_container ul.wrapper_sub_chiren li a i{
	padding-right:5px;
}
.wrapper_sub>li:first-child>a{
	border:none;
}
.wrapper_sub>li>a{
	display: inline-block;
    line-height: 23px;
    padding: 10px 15px;
	width:100%;
}
.wrapper_sub>li>a:hover{
	background:#EFEFEF;
}
.wrapper_sub>li:hover> a>i.fa-dot-circle-o{
	    color: #E07902;
}
.wrapper_sub>li>a>i.fa-dot-circle-o{
	padding-right:5px;
	font-size:80%;
	    color: rgba(190, 205, 223, 0.73);
	float:left;
	line-height:22px;
	
	
}
.wrapper_sub>li:hover>a>i.fa-dot-circle-o{
	color: #E07902;
}
.wrapper_sub>li:hover i.fa-ellipsis-h{
	color:#044C93;
	transform: rotate(90deg);
}
.wrapper_sub>li>a>i.fa-ellipsis-h{
	font-size:100%;
	color:#666;
	float:right;
	line-height:30px;
}
.wrapper_sub>li.sub_item:hover{
	
}
.wrapper_sub>li:hover>a,
.wrapper_sub>li>a:hover{   
	background:#EFEFEF;
	padding-left:25px;
}
.open_search{
	float:right;
	display:none;
	    height: 45px;
    width: 45px;
    padding: 5px;
    float: right;
	cursor:pointer;
}
.wrapper_open_search {
	border-radius:5px;
	background:#FFF;
}

div .open_search{
		display:block;
	}
	.form_search{
		display:none;
	}
	div.wrapper_menu_footer{
		left:inherit;
		right:0;
	}
	div .search_form{
		margin:0;
	}
	.form_search{
		    position: absolute;
		margin-top: 0;
		right: 0;
		top: 43px;
		background: rgba(0, 0, 0, 0.59);
		padding: 5px;
		z-index:2;
		max-width:100%;
	}
	.search_form .tukhoa{
		width:400px;
		max-width:100%;
	}
.open_search i{
	line-height:33px;
	color:#296FB4;
}
.form_search{
	float:right;
}
.search_form{
	position:relative;
	margin-top:9px;
	margin-left:10px;
}
.search_form input{
	border:none;
	height:26px;
	top:0;
}
.search_form input.button_timkiem{
	width:26px;
	position:absolute;
	right:0;
	z-index:1;
	cursor:pointer;
	background:none;
	border-left:1px solid #CCC;
}
.tukhoa{
	padding-left:10px;
	padding-right:26px;
	width:250px;
	
}
.search_form span{
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    text-align: center;
    line-height: 26px;
}

.list_price{
	background-image:url(./images/binhthanhhover.png);
	background-image:url(./images/quan8hover.png);
	background-image:url(./images/cuchihover.png);
	background-image:url(./images/hocmonhover.png);
	background-image:url(./images/thuduchover.png) ;
	position:relative;
	height:282px;
	border: 1px solid #ECF6F8;
	    border: 1px solid #CDCDCD;
    border-top: none;
	background-color:#FFF;
	background-image: url(../images/wrapper_map.png);
	background-size:100% 100%;
	
	background-repeat:no-repeat;
    
}
div .list_price a.footer_r{
	bottom:0;
	top:inherit;
	left:0;
	width:100%;
	border-radius:0;
	background:#f3f4f8;
	border:none;
	border-top: 1px solid #cdcdcd;
	color:#296FB4;
	padding: 7px;
}
div .list_price a.footer_r i{
	margin-right:5px;
}
div .list_price a.footer_r:hover{
    background: #B6DBE7;
	color:#E07800;
}
#list_hover{
	width:100%;
	height:100%;
	
}
#list_hover.chothuduc_h_h{
	background:url(../images/thuduchover.png) ;
	background-size:100% 100%;
	background-repeat:no-repeat;
	
}
#list_hover.chohoanghoatham_h_h{
	background:url(../images/thuduchover.png) ;
	background-size:100% 100%;
	background-repeat:no-repeat;
	
}

#list_hover.chohocmon_h_h{
	background:url(../images/hocmonhover.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#list_hover.tanphutrung_h_h{
	background:url(../images/cuchihover.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#list_hover.chobinhdien_h_h{
	background:url(../images/quan8hover.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#list_hover.chobachieu_h_h{
	background:url(../images/binhthanhhover.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.chothuduc_h_h .chothuduc{
	display:block;
	width:auto;
}
.chohoanghoatham_h_h .chohoanghoatham{
	display:block;
	width:auto;
}

.chohocmon_h_h .chohocmon{
	display:block;
	width:auto;
}

.tanphutrung_h_h .tanphutrung{
	display:block;
	width:auto;
}

.chobinhdien_h_h .chobinhdien{
	display:block;
	width:auto;
}

.chobachieu_h_h .chobachieu{
	display:block;	
	width:auto;
}
.list_price a{	
	border:1px solid #ABA0A0;
	display:inline-block;
	padding:10px 5px;
	border-radius:50%;
	position:absolute;
	top:0;
	z-index:2;
	display:none;
	width:0;
}

span.chobachieu_h {
        width: 14%;
    height: 11%;
    left: 59%;
    top: 46%;
}

span.chobinhdien_h {
    top: 61%;
    width: 24%;
    height: 14%;
    left: 40%;
}

span.tanphutrung_h {
        width: 47%;
    height: 21%;
    top: 9%;
    left: 8%;
}
span.chohocmon_h {
        width: 26%;
    height: 16%;
    top: 30%;
    left: 28%;
}
span.chothuduc_h {
    height: 12%;
    width: 16%;
    left: 65%;
    top: 34%;
}
span.chohoanghoatham_h {
    height: 12%;
    width: 16%;
    left: 65%;
    top: 34%;
}

#list_hover> span{
	cursor:pointer;
	display:inline-block;
	z-index:1;
	position:absolute;
	border-radius:50%;
}
.list_price #list_hover span.huongdan_chon{
	position:absolute;
	bottom:0;
	padding:5px 0;
	text-align:center;
	color:#F00;
	width:100%;		
	background:#FFF;
	border-top:1px solid #CCC;
	border-radius:0;
	font-size:105%;
}
.list_price a.chobinhdien{
	background: #FFEB3B;
	 left: 17%;
    top: 69%;
}
.list_price a.chobinhdien:hover{
	background: #333333;
	color:#FF0;
}
.list_price a.tanphutrung{
	background: #C51295;
	color:#F0FFFF;
	top: 10%;
    left: 31%;

}

.list_price a.tanphutrung:hover{
	background: #F0FFFF;
	color:#C51295;
}
.list_price a.chothuduc{
	background: #4C9800;
    top: 22%;
    color: #FAEBD7;
    left: 62%;
}
.list_price a.chothuduc:hover{
	background: #FAEBD7;
    color: #4C9800;
}
.list_price a.chohoanghoatham{
	background: #4C9800;
    top: 22%;
    color: #FAEBD7;
    left: 62%;
}
.list_price a.chohoanghoatham:hover{
	background: #FAEBD7;
    color: #4C9800;
}
.list_price a.chohocmon{
	background: #432897;
	color: #FFF;
	    top: 19%;
    left: 27%;
}
.list_price a.chohocmon:hover{
	background: #FFFFFF;
	color: #00F;
}
.list_price a.chobachieu{
	background: #DD3008;
	color:#FF0;
	    left: 32%;
    top: 38%;

}
.list_price a.chobachieu:hover{
	background: #FF0;
	color:#DD3008;
}
 
 .tonghopgia_tuan:hover,
.tonghopgia:hover{   
    background: #B6DBE7;
	}
.tonghopGia:hover .tonghopgia a,
.tonghopGia_tuan:hover .tonghopgia_tuan a{
	display:block;
	max-height:200px;
}
.tonghopgia,
.tonghopgia_tuan{
	position:relative;
}
.tonghopgia_tuan a,
.tonghopgia a{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	padding:7px;
	display: inline-block;
    width: 100%;
    background: #f3f4f8;
	border:1px solid #cdcdcd;
	border-top:none;
	z-index:1;
	max-height:0;
	display:none;
}
.image_header_ct{
	position:relative;
    height: 282px;
	text-align:center;
	    background:#FFF;
	    border: 1px solid #CDCDCD;
		border-top: none;
}
.image_header_ct i{
	line-height:250px;
	font-size:1200%;
}
.image_header_ct img{
	max-height:100%;
}
.tonghopgia_tuan a i,
.tonghopgia a i{
	margin-right:5px;
}
.tonghopgia_tuan .thoigian,
.tonghopgia .thoigian{
	width:170px;
	text-align:left;
	padding-left:5px;
}
       
.wrapper_nav{
	text-align:center;
	
	
}

.wrapper_nav .wrapper{
	    
	padding:5px 10px;
	background-color:#11C34D;
	background-color:#296FB4;
	
	width:100%;
	display:inline-block;
}

.nav_page{
	font-size:110%;
	height:38px;
}
.nav_page a{
	color:#11C34D;
}
.fix_mobile .fix_nav .wrapper_nav{
	position:relative;
	top:0;
	}
.fix_nav .wrapper_nav{
	z-index:999;
	position:fixed;
	width:100%;
	top:47px;
}
.left_nav{
	float:left;
	padding-top:1px;
	padding-bottom:5px;
	color:#CCC;
}
.left_nav a{
	color:#FFF;
	font-family: Open Sans Condensed;
    font-size: 105%;
	font-weight:bold;
}
.left_nav a i{
	margin-left:5px;
}
.left_nav a:hover{
	color:#FF0;
}
.left_nav span{
	font-size:87%;
	color:#FFF;
}
.right_nav{
	text-align:center;
	background:#FFF;
	float:right;
	padding:5px ;
}
.video_nav{
	margin-left:10px;
	padding-right:10px;
	border-right: 1px dotted #eee;
}
.group_chon>span{
	position:absolute;
	font-weight:bold;
	font-size:70%;
	text-transform:uppercase;
	color:#000;
}
.tinhtayninh{
	top:5%;
	left:7%;
}
.tinhdongnai{
}
.tinhlongan{
}
.tinhbinhduong{
}
/*------------------------------------
------------------Container-----------
------------------------------------*/
.left_right{
	padding:10px 0;
}
.left_container{
	width:75%;
	padding-right:10px;
	float:left;
}
.wrapper_left_container{
	background:#FFF;
	    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.list_tintuc{
	
	padding:10px 10px;
}
.title_left{
	border-bottom: 2px solid #11C34D;
	border-bottom: 2px solid #296FB4;
	margin:0;
	font-size:105%;
	font-weight:600;
	font-family:Open Sans Condensed;
	font-size:115%;
	
}
.title_left a:hover{
	/*color:#F00*/;
}
.title_h2 span,
.name_title{
	font-size:115%;
	display:inline-block;
	padding: 8px 10px;
    color: #11C34D;
    color: #296FB4;
	text-transform: uppercase;
	font-weight:bold;
	position:relative;
}
.name_title:hover i{
	margin-left:5px;
}
.name_title i{
	margin-left:15px;
}
.name_title:before{
	    position: absolute;
    left: 0;
    /* margin-left: -86px; */
    display: block;
    content: '';
    bottom: -23px;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 21px solid #11C34D;
    border-top: 21px solid #296FB4;
}
.name_RSS{
	padding:5px 5px 0 0;
    float: right;
    line-height:22px;
	color:#F7941E;
}
.name_RSS:hover {
}
.name_RSS i{
    padding: 4px;
	margin-left:5px;
	float:right;
    border-radius: 2px;
    color: #FFF;
	background: #F7941E;
}
.right_container{
	width:25%;
	float:right;
	border:1px solid #11C34D;
	border:1px solid #296FB4;
	border-radius: 8px 8px 0px 0px;
}
.title_right{
	/*border-bottom: 3px solid #959595;*/
	color:#FFFFFF;
	text-transform:uppercase;
	position:relative;
	margin: 0;
	position:relative;
	text-align:left;
	background:#11C34D;
	background:#296FB4;
	border-radius: 4px 4px 0px 0px;
	font-family:Open Sans Condensed;
	font-size:120%;
}

.title_right:before {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: block;
    content: '';
    bottom: -6px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 11px solid #11C34D;
    border-top: 11px solid #296FB4;
}
.title_right span{
	padding: 3px 5px;
	padding-left:10px;
	line-height:32px;
	display:inline-block;
}
.title_right span img{
	float:left;
	margin-right:5px;
}
.title_right span i{
	font-size:142%;
	margin-right:10px;
	float:left;
	line-height:32px;
}
.title_right::after{
	/*content: "";
    display: block;
    background: #11C34D;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    */
}

.donvi_hotro a{
	width:100%;
	text-align:center;
	margin: 3px 0;
	display:inline-block;
}
.row_right{
	margin-bottom:10px;
	background:#FFF;
	border-bottom:1px solid #11C34D;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
	border-radius: 4px 4px 0px 0px;
}
.row_right:last-child{
	margin-bottom:0;
}
.list_row_right{
	padding:10px;
	}
.list_thongbao{
	
}
.list_thongbao a{
	display:inline-block;
	width:100%;
	font-size:110%;
	padding:10px 5px;
	border-top:1px solid rgba(41, 111, 180, 0.12);
}
.dangvadoanthe{
	font-size:95%;
}
.list_thongbao a:hover{
	
	background:#F3F4F4;
	
}
.list_thongbao a:first-child{
	border-top:none;
}


.slider_container{
		text-align:center;
		
		
}

/*------------------------------------
------------------Foorer--------------
------------------------------------*/
.footer{
	background:#296FB4;
}
.footer .wrapper{
	padding:20px 0;
}
.column_footer{
	float:left;
	width:25%;
	
}
.video_cl{
	padding-left:10px;
}
.hinhanh_cl{
	padding-right:10px;
}
.column_footer.thongtin_ct{
	text-align:left;
	width:50%;
	padding-right:20px;
}
.title_footer{
    text-transform: uppercase;
    color: #FEFB00;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(254, 251, 0, 0.68);
	font-family:Open Sans Condensed;
	font-size:140%;
}
.title_footer a{
	color:#FF0;
}
.title_footer a:hover{
	color:#E07800;
}
.title_footer span i{
	margin-right:5px;
}
.title_footer span{
	    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #FEFB00;
    margin-bottom: -2px;
}
.column_footer{
	display:inline-block;
}
.infor_city{
	display:inline-block;
}
.address span{
	display:inline-block;
}
.name_cty{
	text-align:left;
	margin-bottom:8px;
	font-size:120%;
	    text-transform: uppercase;
    font-weight: 700;
	    color: #FFFFFF;
		font-family:Open Sans Condensed;
}
.copy_post{
	color:#FFF;
	font-size:115%;
	margin-top:15px;
}
.copy_post span{
	width:20px;
	height:20px;
	border:2px solid #FFF;
	color:#FFF;
	font-size: 85%;
    text-align: center;
    line-height: 17px;
	display:inline-block;
	border-radius:50%;
	float:left;
	margin-right:5px;
}
.name_cty span{
	display:inline-block;
}
.address{
	text-align:left;
	margin-bottom:7px;
}
.foneandfax{
	text-align:left;
}
.foneandfax span{
	display:inline-block;
}
.infor_city{
	font-size:110%;
	color:#FFF;
	vertical-align:middle;
}
.logo_footer{
	padding-right:20px;
	display:inline-block;
	vertical-align:middle;
	width:20%;
}
.footer .name_cty{
	margin:20px 0;
}
.footer .infor_city{
	width:78%;
}
.email_footer{
	text-align:left;
	margin-top:7px;
}
.infor_city i{
	padding-right:8px;
	color:#FF0;
}

.copy_right{
	padding: 5px 10px;
    text-align: center;
    background: #0757A6;
    color: #FFFFFF;
	display:inline-block;
	width:100%;
}
.copy_right_w{
	max-width:1200px;
	width:100%;
	margin:auto;
	text-align:right;
}
.copy_right_w>div.thongbaotuongthich{
	float:left;
}

.copy_right a{
	color: #FFFFFF;
	font-weight:600;
}
.copy_right a:hover{
	color: #FFFF00;
}
.item_fooer{
	margin:0 5px;
	position:relative;
	overflow:hidden;
	border:1px solid #FF0;
}
.item_fooer:hover .name_item_foorer{
	
}
.ten_new{
	    padding: 5px;
    display: inline-block;
    width: 100%;
	font-size:110%;
}

.time_port_footer{
	    display: inline-block;
    width: 100%;
    background: rgba(3, 3, 3, 0.52);
    padding: 7px;
    font-size: 95%;
    color: #9B9B9B;
	    font-style: italic;
}
.time_port_footer i{
	margin-right:5px;
}
.item_fooer:after{
	content: "";
    display: block;
    margin-top: 65%;
}
.image_item_footer{
	position:absolute;
	width:100%;
	height:100%;
}
.link_itme_footer{
	position:absolute;
	height:100%;
	width:100%;
	z-index:1;
}


.name_item_foorer{
	position:absolute;
	width:100%;
	bottom:0;
	background: rgba(0, 0, 0, 0.54);
	max-height:100%;
	color:#FFF;
}
.image_item_footer img{
	 -webkit-transition: all 1s; 
  -moz-transition: all 1s; 
  -ms-transition: all 1s; 
  -o-transition: all 1s; 
  transition: all 1s;  
}
.item_fooer:hover .image_item_footer img{
	margin-top:-20;
	margin-left:-20%;
	width:140%;
	max-width:140%;
}
.item_fooer:hover .des_itme_footer{
	padding:10px;
	height:auto;
	max-height:300px;
	-webkit-transition: all 1s; 
  -moz-transition: all 1s; 
  -ms-transition: all 1s; 
  -o-transition: all 1s; 
  transition: all 1s; 
}
.des_itme_footer{
	padding:0 10px;
	max-height:0;
	overflow:hidden;
	-webkit-transition: all 1s; 
  -moz-transition: all 1s; 
  -ms-transition: all 1s; 
  -o-transition: all 1s; 
  transition: all 1s; 
}
.name_item_foorer a{
	color:#FFF;
}
.back_top{
	z-index:9999999999999999;
	position:fixed;
	bottom:5px;
	margin-left:1206px;
	background:#FFF;
	font-size:90%;
}
.back_top{
	padding:1px;
	border:1px solid #B0E849;
	width:29px;
}
.back_top span{
	display:inline-block;
	width:100%;
	text-align:center;
	height:25px;
	margin-top:2px;
	line-height:25px;
}
.back_top span a i{
	display:inline-block;
	height:100%;
	width:100%;
	line-height:25px;
	color:#FFF;
}
.facebook{
	background:#4267b2;
}
.facebook:hover{
	background:#FFF;	
}
.facebook:hover i{
	color:	#4267b2;
}
.googleplus{
	background:#EA4335;
}
.googleplus:hover{
	background:#FFFFFF;
}
.googleplus:hover i{
	color:#EA4335;
}
.twitter{
	background:#55ACEE;
}
.twitter:hover{
	background:#FFFFFF;
}
.twitter:hover i{
	color:#55ACEE;
}
.back_totop{
	background: #399EBC;
	display:inline-block;
	width:25px;
	height:25px;
	text-align:center;
}
.back_totop i{
	color: #FFFFFF;
    line-height: 25px;
}
    
.back_totop:hover{
	background:#09F;
}

.post_new_top .list_news{
	    width: 100%;
    border: 1px solid #CDCDCD;
    border-top: none;
	padding:0;
	

}
.post_new_top .list_news .item_new{
	border-top: 1px solid #eaebef;
	background:#FFFFFF;
	padding:5px;
	height:93.333333333333333333333333334px;
}
.post_new_top .header_slider  .owl-carousel .owl-wrapper-outer{
	padding-top:2px;
}

.post_new_top .list_news .item_new:nth-child(even){
	background:#f3f4f8;
}
.post_new_top .list_news .item_new:nth-child(even):hover{
	background:F4F4F4;
}
   
/*-----------------Trang chủ---------------*/

.row_left{
	    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
	position:relative;
}
.row_left:before{
	/*position:absolute;
	left:0;
	content:'';
	display:block;
	height:100%;
	width:2px;
	background:#CCC;*/
}
.top_list_new{
	width:50%;
	float:left;
	padding-right:10px;
	padding-top:20px;
	
}
.header_slider{
	height:281px;
	position:relative;
	/*overflow:hidden;*/
}
.header_slider .next_prev{
	position:absolute;
	top:-26px;
	right:0;
	margin-top:0;
}
.header_slider .next_prev a{
	color:#FFF;
	padding:5px 3px ;
	background:none;
}
.header_slider .title_news{
	max-height:56px;
}
.header_slider .list_news.owl-carousel{
	width:100%;
	overflow:hidden;
}
.list_news.owl-carousel{
	width:50%;
}
.list_news{
	width:50%;
	float:left;
}
.top_list_new .image_new img{
	
}
.top_list_new .image_new{
	float:none;
	text-align:left;
	width:100%;
	/*padding: 5px 5px 5px 0; */
	overflow:hidden;
	position:relative;
	margin-bottom:8px;
}
.top_list_new .image_new img{
	padding:0;	
	width:100%;
}
.list_tintuc:hover img{
}

.top_list_new .wrapper_item{
	position:absolute;
	bottom:0;
	background: rgba(0, 0, 0, 0.7);
	padding:0;
	max-height:100%;
	overflow:hidden;
}

.wrapper_item .title_news{
	padding:10px;
	padding-left:70px;
	font-weight:normal;
	font-size:125%;
	margin:0;
	padding-bottom:0;
}
.wrapper_item .title_news a{
	color:#FFF;
}
.wrapper_item .title_news a:hover{
	color:#E07800;
}
.top_list_new .item_new {
    position: relative;
}
.image_new img:hover{
}
.wrapper_item .time_post_new{
	background:rgba(0, 0, 0, 0.75);
	left:0;
	position:absolute;
	height:100%;
	top:0;
	overflow:hidden;
	width: 64px;
	
}
.top_list_new  .time_post_new span{
	width:100%;
	display:inline-block;
	text-align:center;
	color:#FFF;
}
.title_news{
	margin:0;
}
.day{
	margin-top:13px;
	padding-bottom:5px;
	font-size:190%;
}
.month{
	font-size:150%;
}
.time_new{
	padding-top: 11px;
    margin-top: 15px;
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.71);
}
.image_new{
	width:65px;
	float:left;
	overflow:hidden;
	position:relative;
}
.list_news .image_new{
	width:120px;
	position:relative;
	padding:0 10px 0 0;
}
.list_news .des_new{
	font-size:95%;
	margin-top:5px;
	line-height:17px;
	height:34px;
	overflow:hidden;
	
	
}
.list_news .item_new{
	/*background:#fbfbfb;*/
	padding:10px;
	display:inline-block;
	width:100%;
}


.next_prev{
	text-align:right;
	margin-top:10px;

}
.next_prev a{
	padding:1px 20px;
	
	display:inline-block;
	background:#CCC;

}
/*.list_news .item_new:nth-child(even){
	
	background:#F3F4F8;
}
*/
.list_news .item_new:first-child{
	border:none;
}
.list_news .item_new:hover{
	background:#F4F4F4;
}
.image_new img{
	/*border: 1px solid #D6D6D6;*/
   /* padding: 2px;*/
}
.list_news .time_post_new{
	
	margin-top:5px;
}
.wrapper_item{
}
.top_list_new .item_new:hover .time_new{
	display:block;
}
.top_list_new .item_new:hover .wrapper_item{
	padding-bottom:10px;
}
.top_list_new .item_new:hover .des_new{
	opacity:1;

	
}
.top_list_new .title_news{
	min-height:62px;
}
.gachngang{
}
.wrapper_item .des_new{
	display:none;
	opacity:0;
	padding:0;
	font-size:98%;
	text-align:justify;
	margin-left:64px ;
	padding:0 15px; 
	padding-top:10px;
	color:#FFF;
}
.xemthem_new{
	float:right;
	margin-top:5px;
}
.time_post_new i{
	padding-right:5px;
	color:#666;
	font-size:90%;
	    
}
.time_post_new {
	color:#666;
	font-size:90%;
	font-family: monospace;
}
.list_news .title_news{
	
	font-size:90%;
}
.list_tintuc .item_new {
	
	
}
.item_new a:hover{
	/*color:#B8E849;*/
}

.title_vietgap{
	margin-bottom:0px;
}
.chungnhan_vietgap{
	text-align:center;
	padding:10px 0;
	
}
.item_vietgap{
	padding:10px;
	float:left;
	width:33.333%;
}
.icon_vietgap{
	font-size:1000%;
}

.list_itpc{
	padding:10px 0;
	
}

.item_trongnuoc .title_list_top{
	background:#296FB4;
}
.item_quocte .title_list_top{
	background:#C51295;
}
.item_giaothuong .title_list_top{
	background:#11C34D;
}
.item_lienket .title_list_top{
	background:#E07800;
}
.list_itpc .list_new{
	border:1px solid #cdcdcd;
	border-top:none;
	
}
.list_itpc{
	/*-moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;*/
}
.item_itpc {
	width:48%;
	float:left;
	margin:1% 1%;
}
.item_itpc .tieude img{
	float:left;
}

.item_itpc .list_new>div{
	background:none;
}
.item_itpc .list_new>div:nth-child(even){
	background:#f3f4f8;
	
}
.item_itpc .list_new>div:hover{
	background: #B6DBE7;
}
.sliderLocation{
	padding:10px 0;
}
div.slider_right{
	/*padding:30px 5px;*/
}

.slider_right img{
	margin:auto;
	margin-top:5px;
	width:auto !important;
}
.slider_right .slide a:first-child img{
	margin-top:0;
}
/*--------------Liên hệ-----------*/
.form_lienhe{
	padding: 30px 10px 10px;
    display: inline-block;
    
    width: 100%;
    margin-bottom: 10px;
}
.form_lienhe form{
	float:left;
	font-size:105%;
	display:inline-block;
}
.huongdan{
	color:#666;
	font-style:italic;
	padding:5px 0 0 10px;
}
.form_lienhe  form div{
	margin-top:5px;
	width:300px;
	max-width:100%;
}
.form_lienhe div.button{
	margin-top:20px;
}
.form_lienhe div.button input{
	width: 49%;
    height: 31px;
    background: #01B1EA;
    color: white;
    font-size: 120%;
    cursor: pointer;
	border:1px solid #01B1EA;
}
.form_lienhe div.button input:hover{
	background:#FFF;
	color:#01B1EA;
}
.form_lienhe div.button input.nhaplai{
	
    background: #00CC00;
	border:1px solid #00CC00;
	
}
.form_lienhe div.button input.nhaplai:hover{
	
    background: #FFFFFF;
	color:#00CC00;
	
}
.form_lienhe div.capcha input{
	float:left;
	width:60%;
}
.form_lienhe div input{
	height:28px;
	padding-left:5px;
	width:300px;
	max-width:100%;
}
.form_lienhe div textarea{
	padding: 2px 5px;
	height:80px;	
	width:300px;
	max-width:100%;
}
.form_lienhe label{
	margin-bottom:2px;
	font-size:110%;
	display:inline-block;
	width:100%;
}
.bando iframe{
	width:100%;
	border:none;
	height:300px;
}
.form_lienhe form div input.ghinho{
	width: 13px;
    float: left;
    padding: 0;
    height: 13px;
    margin: 2px;
    margin-right: 8px;
}
.dangnhap{
	
	
}
.lienhe_compa{
	padding-left:350px;
}

.lienhe_compa .infor_city i{
	color:#333;
}
.lienhe_compa .infor_city{
	color:#333;
	font-size:115%;
}

.lienhe_compa .infor_city>div{
	margin-bottom:20px;
}
.lienhe_compa .infor_city>div.address{
	margin-top:30px;
}
.title_guiyeucau,
.form_lienhe form div.title_guiyeucau {
	margin-bottom:0;
    text-align: left;
    margin-bottom: 20px;
    font-size: 140%;
    text-transform: uppercase;
    font-weight: 700;
    color: #11C34D;
	margin-top:0;
	    font-family: Open Sans Condensed;
}
.chitiet{	text-align:justify;
}

/*----------------Tuyển dụng -----------------*/
.tuyendung .title_left.title_h2{
	font-weight:normal;
	text-transform:uppercase;
}
.title_left.title_h2 i{
	margin-right:8px;
}
.danhsach_tuyendung{
	margin-top:10px;
}
.hinhanh_tuyendung{
	width:120px;
	float:left;
}
.hinhanh_tuyendung img{
	padding:2px;
	border:1px solid #CCC;
	border-radius:3px;
}
.group_detail{
	padding-left:130px;
}
.group_detail div{
	margin-top:5px;
}
.group_detail i{
	margin-right:5px;
}
.title_tuyendung{
	margin-top:0;
}
.list_tuyendung{
	
	padding:10px;
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.item_tuyendung{
	    margin-top: 10px;
	width:100%;
	display:inline-block;
	padding:10px;
	border: 1px solid #D2E4E9;
}
.focus_page{
	padding:10px 20px 20px 10px;
	text-align:right;
	
}
.focus_page .select:hover{
	background: #00a65a !important;
	color: #F0FFFF;
}
.focus_page .select{

	padding:6px 9px;
	margin: 0 2px !important;
	color:#FFF;
	background:#000000;
	display:inline-block;
	border:1px solid #ffffff;
}
.focus_page a{
	padding:6px 9px;
	margin: 0 2px !important;
	color:#FFF;
	background:#09F;
	display:inline-block;
	border:1px solid #09F;
}
.focus_page a.focus,
.focus_page a:hover{
	color:#09F;
	background:#FFF;
}
.detail_site{
	padding:30px 10px;
	
	border:1px solid #cdcdcd;
	border-top:none;
}
.detail_site ul{
	margin:0;
	padding:0;
}
.detail_site>ul{
	font-size:110%;
}
.detail_site> ul> li{
	line-height:27px;
	border-bottom:1px solid #FFF;
	list-style:none;
	margin:0;
	padding:0;
	
}
.detail_site> ul> li> ul{
	padding-left: 10px;
    background: #B3E7F7
}
.detail_site> ul> li> ul>li>ul{
	padding-left: 20px;
    background: #D0EEF2
}
.detail_site ul li:last-child{
	border:none;
	
}
.detail_site> ul> li> ul> li{
	    line-height: 27px;
    border-bottom: 1px dotted #F5F5F5;
    list-style: none;
    margin: 0;
    padding: 0;
	
}
.detail_site> ul> li> ul> li i{
	margin-right:5px;
	line-height:27px;
	color:#CCC;
	font-size:60%;
	float:left;
}
.detail_site> ul> li> ul> li>ul>li{
	list-style:none;
}

.danhsach_gioithieu {
    background:rgba(255, 255, 255, 0.75);
    padding: 30px 10px;
	margin-bottom:10px;
}


/*-------Map--------*/
.wrapper_map{position: relative; height: 792px; width: 100%; padding: 0px; background:url(../images/website/hcmcity_map.jpg); background-size:100% 100%;}
#gmipam_0_image{position: absolute; height: 792px; width: 100%; left: 0px; top: 0px;}
#gmipam_0_canvas{height: 792px; width: 100%; position: absolute; left: 0px; top: 0px; opacity: 1;}
#map_of_city_blind{position: absolute; height: 792px; width: 100%; left: 0px; top: 0px;}
.imagee_map{
	position: absolute; height: 792px; width: 100%; left: 0px; top: 0px; opacity: 0;
}
.map_of_city{
	width:100%;
}

.slider_right .slide{
	text-align:center;
}


.load_page{
	position:fixed;
	z-index:9999999999999;
	width:100%;
	height:100%;
	top:0;
	display:none;
	left:0;
	background-color:rgba(255, 255, 255, 0.79);
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.list_footer .highslide-gallery{
}
.item_video,
.list_footer .highslide-gallery a.highslide{
	 width: 48%;
	 float:left;
	 margin:1%;
	 display:block;
	 overflow:hidden;
	 position:relative;
}
.list_video {
	
}
.video_item .item_video{
	width:100%;
	display:table;
	
}
.name_video{
	font-size:98%;
}
.video_item{
	vertical-align:text-top;
	width:31%;
	margin:0.8%;
	display:inline-block;
}
.video_highslide,
.list_footer .highslide-gallery a.highslide .image_highslide{
	width:100%;
	display:block;
	
}
.video_highslide:before,
.list_footer .highslide-gallery a.highslide .image_highslide:before{
	content:'';
	margin-top:65%;
	display:block;
	
}
.video_highslide img,
.list_footer .highslide-gallery a.highslide img{
	position:absolute;
	top:0;	
	left:0;
}
.iconview{
	color:#FFF;
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 8px;
    background: rgba(17, 17, 17, 0.46);
}
.item_video:hover .iconview{
	color:#F00;
	background: rgba(254, 254, 254, 0.46);
}
.number_add{
	    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgba(149, 149, 149, 0.41);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
}
.number_add.phapluat1{
	background:#296FB4;
}
.number_add.phapluat2{
	background:#11C34D;
}
.number_add.phapluat3{
	    background: #FFF900;
    color: #11C34D;
}
.tieude_thongbao{
	padding-left:40px;
	display:block;
}
.thongbao_l .tieude_thongbao{
	padding:6px 0;
	padding-left:40px;
}
.list_thongbao.phapluat{
	/*font-size:85%;*/
}

.item_itpc .image_new{
	width:70px;
	position:relative;
	overflow:hidden;
	
}
.list_itpc_new{
	padding:0;
    border: 1px solid #E9E9E9;
	background: rgba(248, 248, 248, 0.32);
	border-top:none;
}
.list_itpc_new .item_new:first-child{
	width:100%;
}
.list_itpc_new .item_new:first-child .title_news,
.list_itpc_new .item_new:first-child .time_post_new,
.list_itpc_new .item_new:first-child .des_new{

	
}
.list_itpc_new .item_new:first-child .des_new{
	margin-top:4px;
}
.list_itpc_new .item_new:first-child .image_new{
	width:50%;
}
.list_itpc_new .image_new:before{
	display:block;
	content:'';
	margin-top:65%;
	
}
.list_itpc_new .item_new:first-child .image_new a{
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
}
.list_itpc_new .item_new:first-child .title_news{
	font-size:110%;
}
.list_itpc_new .item_new:first-child{
	
}
.list_itpc_new .item_new:last-child {
	border-bottom:none;
}
.list_itpc_new .item_new{
	border-bottom:1px dashed #CCC;
	display:inline-block;
	padding:10px;
	width:100%;
	
}

.list_itpc_new .image_new{
	position:relative;
	margin-right:10px;
}
.list_itpc_new .image_new a{
	position:absolute;
	width:100%;
	height:100%;
	display:inline-block;
	top:0;
}
.list_itpc_new .title_news{
	font-size:90%;
}
.header_top .wrapper{
	position:relative;
}
.form_dangnhap{
	right:0;
	top:45px;
	display:none;
	position: absolute;
	 overflow:hidden;
	margin-left:30px;
}
.form_dangnhap{
	-webkit-transition: margin-left 1s;
	 -moz-transition: margin-left 1s;
	   -o-transition: margin-left 1s;
	  -ms-transition: margin-left 1s;
		  transition: margin-left 1s;
		  
	
}
.form_dangnhap.show_login{
	left: 50%;
	height:auto;
    margin-left: -200px;
    top: 50%;
    width: 400px;
    max-width: 100%;
    padding:10px 20px 20px 20px;
    
    z-index: 9999999;
    background: #FFF;
	text-align:left;
}
.wrapper_login{
	display:none;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.61);
	z-index:999999;
}
.form_dangnhap label{
	display:block;
	margin-bottom:3px;
	margin-top:7px;
}
.form_dangnhap input{
	height:27px;
}
.title_login{
	color:#11C34D;
	border-bottom:1px solid #11C34D;
	margin-bottom:10px;
	padding-bottom:5px;
}
.title_login.quenmatkhau_title{
	color:#E07800;
	border-bottom:1px solid #E07800
}
.title_login i{
	margin-right:7px;
}
.login{
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}
.textbox{
	width:100%;
	padding-left:5px;
}
.botton_dangnhap input{
	border:none;
	width:150px;
	margin-top:5px;
	background:#296FB4;
	color:#FFF;
	cursor:pointer;
	float:right;
	width:33%;
}
.form_quenmatkhau .user_quen{
	width:65%;
	padding-left:5px;
}
.btn_guimk{
	border:none;
	width:33%;
	background:#E07800;
	color:#FFF;
	cursor:pointer;
}
.danhsach_hinhanh{
	display:inline-block;
	width:100%;
	padding:1%;
}
.video_danhsch .item_video{
	display:block;
	float:left;
}
.video_ct{
	    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;

}
.video_danhsch{
	padding:10px;	
}
.fix_height{
	    width: 100%;
    display: block;
}
.fix_height:before{
	    content: '';
    margin-top: 56%;
    display: block;
}

.wrapper_video{
	top:0;
	padding:20px;
	position:absolute;
	height:100%;
	width:100%;
}
.wrapper_video iframe{
	width:100%;
	height:100%;
}
div.itpc_tintuc_w  .column_itpc_w{
	padding: 10px;
	width:100%;
	
}
div div .itpc_sub{
	
}
div div .itpc_sub .list_row_itpc{
	border:none;
	padding:0;
}
div.itpc_tintuc_w{
	width:100%;
	display:inline-block;
	margin-bottom:10px;
	border-bottom:none;
}
.column_itpc_w .list_row_itpc{
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.column_itpc_w .item_row_itpc{
	width:100%;
	vertical-align:top;
	display:inline-block;
	margin-bottom:0;
	padding:10px;
}
.column_itpc_w .item_row_itpc:nth-child(2n+0){
	
}
.column_itpc.column_itpc_w .focus_page{
	margin-top:0;
	margin-top:0;
}
.column_itpc .focus_page{
	padding:0;
	margin-top:-10px;
	margin-bottom:-10px;
}
.itpc_tintuc_w .column_itpc{
	padding:0 10px;
	width:50%;
	float:left;
	
}
.column_itpc .tieude{
	padding:0;
	color:#FFF;
	background: #296FB4;
	background: #11C34D;
}
.column_itpc .title_header{
	padding-left:20px;
	text-align:left;
}

.list_row_itpc{
	border: 1px solid #E6E6E6;
	border-top:none;
	padding-bottom:30px;
	position:relative;
}
.xemthem_itpc{
	text-align:right;
}
.ten_tintuc{
	font-weight:600;
	
	display:inline-block;
}
.time_post{
	display:inline-block;
	padding:0 10px;
	    color: #666;
    font-size: 90%;
    font-family: monospace;
}
.time_post i{
	font-size: 90%;
    margin-right: 5px;
}
.des_tintuc{
	margin-top:5px;
	font-size:95%;
}
.list_row_itpc{
	padding:10px;
}
.tab_tintuc{
	border-bottom:1px solid #11C34D;
	margin-top:10px;
}

.tab_tintuc a{
   background:#E6E6E6;
    display: inline-block;
    position: relative;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
.tab_tintuc a.focus_active,
.tab_tintuc a:hover{
	background: #11C34D;
	background: #296FB4;
    color: #FFFFFF;
}
.item_row_itpc{
	padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 95%;
    border-bottom: 1px solid #E8E8E8
}
.item_row_itpc:last-child{
	padding-bottom: 0;
    margin-bottom: 0;
    font-size: 95%;
    border-bottom: none;
}
.itpc_tintuc{
	float:left;
	padding:10px;
	width:50%;
	padding-right:5px;
}
.itpc_events{
	float:left;
	padding:10px;
	width:50%;
	padding-left:5px;
}
.list_row_itpc_ev{
	border:1px solid  #E6E6E6;
	border-top:none;
}
.list_row_itpc_ev .focus_page{
	padding:0;
}
.tin_itpc .itpc_tintuc .focus_page{
	margin-top:-10px;
	margin-bottom:-10px;
	margin-right:-10px;
}
.itpc_column{
	padding:0 10px;
	margin-bottom:10px;
	width:50%;
	float:left;
}
.tin_itpc .focus_page{
	margin:0;
	padding:0;
}
.column_itpc_ev .tieude{
	padding-left:0;
	background: #F7941E;
}
.column_itpc_ev .title_header{
	text-align:left;
	color:#FFF;
	padding-left:20px;
}

.tab_click{
    border-bottom: 1px solid #11C34D;
    margin-top: 10px;
}
.tab_click a{
    background: #E6E6E6;
    display: inline-block;
    position: relative;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
.tab_click a.focus_active_ev,
.tab_click a:hover{
    background: #11C34D;
    background: #296FB4;
	color:#FFF;
}
.col_time{
	width:25%;
	float:left;
	text-align:center;
	padding:10px 5px;
}
.col_trangthai{
	width:30%;
	float:left;
	text-align:center;
	padding:10px 5px;
}
.col_name{
	width:45%;
	float:left;
	padding:10px 5px;
}
.col_name a{
	display:inline-block;
	width:100%;
}
.item_row_ev{
	width:100%;
	font-size:90%;
	display:inline-block;
}
.title_row_ev{
	background:#E6E6E6;
	color:#000;
	font-size:110%;
}
.item_row_ev{
	border-bottom:1px solid #E8E8E8;
}
.list_row_itpc_ev .xemthem_itpc{
	padding:10px;
}

.hoptacdaotao_w .top_list_new{
	padding-top:0;
}
.hoptacdaotao_w  .list_tintuc{
	padding:0 10px 10px 10px;
}
.list_chirent{
	
	margin-top:10px;
}
.list_chirent .item_new{
	/*float: left;*/
	margin-left: -1px;
	width:50%;
	display:inline-block;
	padding-top:10px;
	padding-top:10px;
	padding-right:10px;
	margin-bottom:5px;
	vertical-align:top;
	border-top:1px solid #E8E8E8;
}
.list_chirent .image_new{
	margin-right:15px;
	width: 120px;
	max-width:50%;
}
.list_chirent .title_news{
	font-size:105%;
}
.list_chirent .des_new{
	font-size:98%;
	line-height:  18px;
}
.list_chirent .time_post_new{
	margin-top:7px;
	margin-bottom:4px;
	
}
.xemthem{
	text-align:right;
	font-size:90%;
	margin-top:5px;
}
.xemthem i{
	margin-right:5px;
}
.list_chirent  .focus_page{
	margin-top:10px;
	padding-right:0;
	border-top:1px solid #E8E8E8;
}


.list_chirent .item_new:nth-child(2n+0){
	padding-left:15px;
	padding-right:0;
	margin-left: -4px;
}

.wrapper_lienquan{
	margin-top:20px;
}
.wrapper_lienquan .list_chirent{
	padding:0 10px;
	margin-top:0px;
}
.detail{
	padding:20px 10px;
}

.album_image{
	margin-bottom:20px;
	width: 100%;
    position: relative;
    background: #404145;
    display: inline-block;
    padding: 2px;
}
.album_image .highslide{
	/*position:relative;*/
	padding:2px;
	display:none;
}
.album_image a.highslide.item_album1{
	display:block;
	width:100%;
}
.album_image a.highslide.item_album2,
.album_image a.highslide.item_album3{
	display:block;
	width:50%;
	float:left;
}
.album_image a.highslide.item_album4,
.album_image a.highslide.item_album5,
.album_image a.highslide.item_album6{
	width:33.333%;
	display:block;
	float:left;
}
a.item_album1 img{
	
}
a.item_album1 .image_highslide,
a.item_album2 .image_highslide,
a.item_album3 .image_highslide,
a.item_album4 .image_highslide,
a.item_album5 .image_highslide,
a.item_album6 .image_highslide{
	display:block;
	overflow:hidden;
	position: relative;
	    background: #DFDFDF;
	
}
a.item_album2 .image_highslide:before,
a.item_album1 .image_highslide:before,
a.item_album5 .image_highslide:before,
a.item_album4 .image_highslide:before,
a.item_album3 .image_highslide:before,
a.item_album6 .image_highslide:before{
	content:'';
	display:block;
	margin-top:56%;
}


a.item_album1 .image_highslide img,
a.item_album2 .image_highslide img,
a.item_album3 .image_highslide img,
a.item_album4 .image_highslide img,
a.item_album5 .image_highslide img,
a.item_album6 .image_highslide img{
	position:absolute;
	top:0;
	z-index:1;
}
.number_image{
	width: 33.33%;
    position: absolute;
        right: 2px;
    bottom: 2px;
    background: rgba(0, 0, 0, 0.56);
    z-index: 99;
	color:#FFF;
	padding:2px;
}
.number_image:before{
	content:'';
	display:block;
	margin-top:56%;
}
.wrapper_num{
	display:inline-block;
	width:100%;
	
	height:100%;
}
.wrapper_num>span{
	position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -15px;
	font-size:150%;
}
.ten_album{
	font-size:130%;
	font-weight:bold;
}
.list_item_album{
	display:inline-block;
	width:48%;
	margin:0.85%;
	
}
.ten_album{
	font-family: Open Sans Condensed;
    font-size: 115%;
	text-align:center;
	padding:7px 0;
}


.timkiem_nongsan>form>div{
	display:inline-block;
	padding-left:15px;
	float:left;
}

.timkiem_nongsan{
	    border: 1px solid #E07800;
    padding: 10px 0;
    margin: 10px;
	margin-bottom:0;
	
}
.timkiem_gia{
	display:inline-block;
	width:100%;	
}
.name_cho{
	width:150px;
	height:32px;
}
.timkiem_gia_btn{
	height:32px;
	background: #296FB4;
	border:1px solid #296FB4;
	padding: 0 10px;
	cursor:pointer;
	color:#FFF;
	    font-family: Open Sans Condensed;
    font-size: 105%;
    font-weight: bold;
}
.ngaydang{
	
}
.timkiem_gia_btn:hover{
	
	background: #FFFFFF;
	color:#296FB4;
}
.we_number,
.day_number,
.month_number, 
.year_number{
	width:100px;
	height:32px;
	text-align:center;
}
.we_number,
.name_cho,
.day_number,
.month_number, 
.year_number{
	box-shadow:inset 0 0 4px #CCCCCC;
}
.view_pdf{
	margin:10px;
	margin-top:0;
}
.title_pdf{
	border-right:1px solid #E07800;
	border-bottom:1px solid #E07800;
	    font-family: Open Sans Condensed;
    font-size: 105%;
    font-weight: bold;
	line-height:
}
.tencho{
	padding:10px 10px;
	position:relative;
	display:inline-block;
	color:#FFF;
	font-size:120%;
	padding-right:25px;
	background: #E07800;
}
.tencho:before{
	    top: 0;
    right: 0;
    content: '';
    position: absolute;
    display: block;
    border-left: 14px solid rgba(255, 255, 255, 0);
    border-top: 22px solid #FFF;
    border-bottom: 22px solid #FFF;
}
.detail_pdf{
	padding-bottom:10px;
}

.detail_pdf iframe{
	width:100%;
	height:2000px;
}
.timkiem_gia label{
	font-family: Open Sans Condensed;
    font-size: 105%;
    font-weight: bold;
	line-height:
}

.name_video_detail{
	padding:10px 20px;
	padding-top:0;
	margin-bottom:10px;
	}
	.name_video_detail h2{
		margin:0;
	}

.tonhop-trong-khoang table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}

.tonhop-trong-khoang table th {
	text-transform:uppercase;

	background: #e4ebf2;
	color: #12537f;
	font-weight: bold;
}
.tonhop-trong-khoang  table td {
	border: 1px solid #acbed4;
	padding: 7px 10px;
}
.tonhop-trong-khoang caption{
}
.tonhop-trong-khoang table th {
	padding:10px 0;
	text-align: center;
	font-size:110%;
}
.tonhop-trong-khoang div table td {
	vertical-align: top;
}
.tonhop-trong-khoang table td:nth-child(1),
.tonhop-trong-khoang table td:nth-child(2){
	text-align:center
}
.tonhop-trong-khoang table td:nth-child(1){
	font-weight: bold;
}
.tonhop-trong-khoang table td:nth-child(4){
	text-transform:uppercase;
	font-weight:bold;
}
.tonhop-trong-khoang table th, table td {
	border: 1px solid #acbed4;

}
.mobile_wrapper{
	display:none;
}
/* ---- Update */

.danhsach_gioithieu table {
	max-width: 100% !important;	
	width: auto !important;	
}

.list_chirent .image_new a{
	overflow: hidden;
	display: block;
	position: relative;
}
.list_chirent .image_new a:before{
	content:"";
	display: block;
	margin-top: 100%;
	
}
.list_chirent .image_new a img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.js-marquee>a{
	display: block;
}
.row_right.thongke{
	border-bottom: none;
	margin-bottom: 0;
	
}
.tab_even2 .item_row_ev .col_name{
width: 100%;
}
.tab_even2 .item_row_ev .col_trangthai,
.tab_even2 .item_row_ev .col_time{
display: none;

}
.tab_even2  .col_name{
font-weight: bold;
}
.tab_even1 .item_row_ev .col_name{
width: 100%;
}
.tab_even1 .item_row_ev .col_trangthai,
.tab_even1 .item_row_ev .col_time{
display: none;

}
.tab_even1  .col_name{
font-weight: bold;
}
.tab_tt1  .des_tintuc,
.tab_tt1  .time_post{
display: none;

}
.tab_tt2 .des_tintuc,
.tab_tt2  .time_post{
display: none;

}
.tab_tt3  .des_tintuc,
.tab_tt3  .time_post{
display: none;

}